{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('پنل مدیریت کتابخانه') }}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block branding %}
<div class="admin-branding-wrapper">
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            📚 پنل مدیریت کتابخانه
        </a>
    </h1>
</div>
<div class="admin-action-toolbar">
    <a class="button admin-action-button" href="{% url 'admin:books_bookassignment_add' %}">
        + امانت کتاب جدید
    </a>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block usertools %}
    {{ block.super }}
{% endblock %}
